# CG2SS1PW

*~
*.out
*.out.dir
*.swp
*.user

*.sln
*.ncb
*.suo
*.idb
*.vcproj

*.[ao]
*.so
*.exe
*.dll
*.lib
*.pdb

*.obj
*.dep
*.idb

*.ilk
BuildLog.htm

*.log
*.dvi
*.ps
*.aux
*.idx
*.toc
*.lof
*.glo
*.ist
*.properties.xml

*.orig

version.rc
Thumbs.db

Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles

build
tags
svn
